<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>gdpu-tax</display-name>
  
  <!-- 配置监听器，当tomcat启动时，加载applicationContext.xml配置文件 -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>
  
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  
 <!-- 拦截用户的请求，判断用户是否登录 -->
 <!-- 当多个过滤器拦截路径一样的时候、拦截顺序为配置顺序在前的执行 -->
	<filter>
		<filter-name>loginFilter</filter-name>
		<filter-class>gdpu.tax.filter.LoginFilter</filter-class>
	</filter> 
  	<filter-mapping>
  		<filter-name>loginFilter</filter-name>
  		<url-pattern>*.action</url-pattern>
  	</filter-mapping>
  
  <filter>
    <filter-name>struts</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  
  
  <session-config>
  	<session-timeout>60</session-timeout>
  </session-config>
  
  
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!--<error-page>
		<error-code>404</error-code>
		<location>/common/404.html</location>
	</error-page>-->
</web-app>